body
{
    background-color: silver;
}
section
{
    border: 2px solid black;
    width: 230px;
    margin: auto;
}
article
{
    background-color: white;
    border: 2px solid black;
    width: 250px;
    margin: auto;
}