section
{
    border: 10px ridge black;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}
article
{
    border: 2px ridge rgb(113, 0, 0);
    width: 300px;
    margin:auto;
}